doctype html
html
    head
        title Nuevo
    body
        form(action="/tasks" method="POST")   
            textarea(name="descripcion" placeholder="ingrese descripcion")
            input(type="submit" value="Guardar")